<h1>Selecione uma opção:</h1>

<a id="btn-random" href="/random">
  <button type="button">Gerar GIF aleatório</button>
</a>

<a id="btn-search" href="/search-gif">
  <button type="button">Pesquisar GIFs</button>
</a>

<style>
    #btn-search{
        align-items: center;
        background-color: black;
        margin: 150px;
    }
</style>