<h1>Selecione uma opção:</h1>

<a id="btn-initial" href="/random">
  <button type="button">Gerar GIF aleatório</button>
</a>

<a id="btn-initial" href="/search-gif">
  <button type="button">Pesquisar GIFs</button>
</a>