<h1>Search for GIFS</h1>
<form action="/">
  <label for="term">Search Term:</label>
  <input type="text" id="term" name="term" required>
  <br>
  <label for="limit">Limit:</label>
  <select name="limit">
    <option value="1">1</option>
    <option value="5">5</option>
    <option value="10" selected>10</option>
    <option value="15">15</option>
    </select>
  <br>
  <button type="submit">Search</button>
</form>

{{#each gifs}}
  <a href="{{this.images.fixed_height.url}}">
    <img src="{{this.images.fixed_height.url}}" alt="">
  </a>
{{/each}}
