<h1>Search for GIFS</h1>
<form action="/">
 <input type="text" name="term">
 <button type="submit">Search</button>
</form>
{{!-- we use a fixed_height version so all the gifs are the same height --}}
{{#each gifs}}
<img src="{{this.images.fixed_height.url}}" alt="">
{{/each}}