/* Definições gerais do projeto */
* {
    font-family: Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

input {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    vertical-align: middle;
    box-sizing: border-box;
    width: 300px;
}

form {
    margin-bottom: 10px;
}

button {
    height: 31px;
    width: 110px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    color: #FE7880;
}

/*Pesquisa de gifs*/
.gifs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gif {
    flex-basis: calc(33.33% - 20px);
    margin: 60px;
}

.gif-container {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.gif-title, .gif-username {
    font-size: 12px;
    margin: 5px 0;
}

/*Gifs aleatórios*/
.gif-container-random {
    text-align: center;
    margin: 10px;
}
.gif-title, .gif-username {
    font-size: 12px;
    margin: 5px 0;
}

/*Página inicial*/
#btn-initial{
    align-items: center;
    background-color: black;
    margin: 150px;
}

#voltar-btn{
    color: #FFF;
    background-color: #F03E3E;
    border: 1px solid transparent;
}

#voltar-btn:hover{
    background-color: #FFF;
    color: #F03E3E;
    border-color: #F03E3E;
}